{% extends "base.html" %}

{% load static %}

{% block title %}
Search Page
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/opendsearch.css' %}" >
{% endblock %}

{% block content %}
  <div id="searchcontainer" class="container">
    <div class="row">
      <div class="col-lg-12 mainsearchrow1">
      <h2 style="text-align:center">Know Your Community</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 mainsearchrow2">
        <form action = "" method="POST" name="mainform">
            {% csrf_token %}
            <label for="autocomplete"><span text="{{message}}"></span></label>
            <div class="input-group">
                <input name="InputAddress" type="text" id="autocomplete" class="form-control input-lg" size="100"/>
                <span class="input-group-addon">
                    <button class="btn mainsearchbtn" type="submit">Go</button>
                </span>
            </div>
        </form>
      </div>
    </div>
  </div>


{% endblock %}